.slider .btn {
  margin-top: 10px;
}

.section-search input {
  padding: 5px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
  border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

.section-contact {
  margin-top: 15px;

  h5 {
    margin-bottom: 5px;
  }
}